.table-wrapper.table-wrapper-narrow
  %div#tab_logic{class: "table table-bordered table-hover table-small-text #{css ||= ''}", style: "#{style ||= ''}"}
    %ul.js-insertable.list-view-ul
      = form.fields_for field.name, wrapper: false do |nested_form|
        %li.fields.list-text-block
          = nested_form.generate_for_list_edit(action: :nested, model_config: field.associated_model_config, nested_in: field, wrapper: :span, css_classes: ['li-block'])
          = nested_form.link_to_remove '<span class="btn btn-small btn-danger btn-list-view"><i class="icon-remove icon-white"></i></span>'.html_safe

  %div{class: "#{links_css ||= ''}", style: "#{links_style ||= ''}"}
    = form.link_to_add "<i class=\"icon-plus icon-white\"></i> #{wording_for(:link, :new, field.associated_model_config.abstract_model)}".html_safe, field.name, { class: 'btn btn-info' }

    = form.errors_for(field)
    = form.help_for(field)
